body {
  background-color: #DFE3ED;
  font-family: 'Overpass Mono', monospace;
}

#left-gutter {
  @include grid-column(3);
}

#main {
  @include grid-container();
  margin-top: 50px;
}

#left-gutter {
  @include grid-column(1);
}

#right-gutter {
  @include grid-column(1);
}

#left {
  @include grid-column(5);

  font-size: 30px;
  color: #577167;
}

#right {
  @include grid-column(5);
  color: #577167;

  span {
    color: #A1B38E;
  }
}

#nav {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-bottom: 60px;
  border-bottom: 2px #232F3B solid;
}

#articles {
  padding-top: 60px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  font-family: 'Questrial', sans-serif;
}

#articles > h2 {
  font-family: 'Questrial', sans-serif;
}

.article-body {
  text-align: right;
}

#header {
  font-size: 30px;
  background-color: red;
}

#center-content {
  @include grid-column(6);
}

a, a:hover, a:visited {
  color: #232F3B;
  cursor: pointer;
}

h6 {
  font-size: 16px;
}

ol {
  font-size: 16px;
}

#name {
  margin-bottom: 60px;
}